<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>online loan management</title>
  </head>
  <body>
    sign up form
    <form action="/login" method="POST">
      <h2><%= error %></h2>
      <label>username</label>
      <input type="text" required name="username" />

      <label>password</label>
      <input type="password" required name="password" />
      <button  type="submit">submit</button>

    </form>
  </body>
</html>
